*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100vh;
    /*give viewport height to make it occupy full screen*/
    font-family: Franklin Gothic Medium;
    font-size: 13.5px;
    overflow: hidden;
    /*prevents scroll*/
}


header{
    /*do not give position:fixed. It upsets the structure*/
    display: flex; 
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 55px;
    padding: 1% 2%;
}

.header_left{
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.cloud_image{
    height: 2.5rem;
}

.cloud_text{
    color: #ea168b;
    font-size: 1.15rem;
    font-weight: bold;
}

.access_text{
    font-weight: bold;
    font-size: 1.15rem;
    color: #3e3e3e;
}

.header_right{
    display: flex; 
    align-items: center;
}

.bell_icon{
    padding-right: 25px;
}

.header_right_text{
    color: #252a31;
    
}

.name{
    font-size: 1.05rem;
}

.company{
    font-size: 0.7rem;
    opacity: 50%;
    text-align: right;
    font-weight: bold;
}

.profile{
    padding-left: 10px;  
}

section{
    height: calc(100% - 55px);
    width: 100%;
    display: flex;
}

aside{
    width: 18%;
    background-color: #ffff;
    box-shadow: 0 1px 4px 0 #dfe3e7;
    letter-spacing: 0.5px;
    
    /*padding: 2%;*/
}

.aside_top{
    padding: 1.5rem;
}

.your_groups{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem ;
    /*dynamic padding, relative to screen*/
}

.side_header_text{
    color: #ea168b;
    font-size: 0.87rem;
    font-weight: 700;
}

.side_subtext{
    font-size: 0.78rem;
    color: #000000;
    opacity: 40%;
}

.partition_line {
    height: 1px;
    margin: 0.3rem 0;
    border: solid 1px #f2f4f8;
}

.your_requests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0 1rem 0rem;
    font-weight: 600;
}
.short_text{
    display: none;
}

.your_requests_text{
    color: #ea168b;
    font-size: 0.87rem;
    font-weight: bold;
    padding: 0 0 1rem 0rem;
}
  
.request {
    color: #b8b8b8;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    cursor: pointer;
    align-items: center;
}
  
.requests {
    width: 100%;
}
  
.request_type {
    font-size: 0.85rem;
}
  
.request_count {
    border-radius: 15px;
    background-color: #cbcbcb;
    /*to give that oval enclosure*/
    width: 1.4rem;
    height: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
  
.request:hover .request_type {
    color: black;
    transition: ease-in-out 0.3s;
}
  
.request:hover .request_count {
    background-color: #ea168b;
    transition: ease-in-out 0.3s;
}

.side_approvals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0 1rem 0rem;
}

.side_image{
    padding: 0 0.9rem 0 0.3rem;
    height: 1.2rem;
}

/*.side_groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}*/

.groups_packs {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /*top right bottom left, or, top+bottom, left+right*/
}

.side_type {
    font-size: 0.85rem;
    color: #46475c;
    font-weight: 600;
    text-align: center;
    height: 0.91rem;
}

.groups_packs:hover {
    /*for hovering mouse over the div*/
    background: #ea168b;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
  
.groups_packs:hover .side_type {
    color: white;
    transition: ease-in-out 0.3s;
}

.main_content{
    padding: 1rem;
    background-color: #f2f4f8;
    width: calc(100% - 17%);
    height: 100%;
}

.main_header_text{
    color: #ea168b;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.8rem 0 0.2rem 0rem;
}

.partition_line_big{
    width: 100%;
    height: 2px;
    margin: 1rem 0%;
    border: solid 1px #e9e9e9;
}

.recommended_nav_bar {
    color: #676767;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended_nav_bar_text{
    font-weight: 550;
    padding: 0.5rem 0 0.6rem 0;
    letter-spacing: 1.67px;
}

.recommended_nav_icon_next, .recommended_nav_icon_prev{
    border-radius: 2rem;
    border: solid 1px #e9e9e9;
}

.recommended_nav_icon_next:hover, .recommended_nav_icon_prev:hover{
    border: solid 1px #e20074;
    transition: ease-in-out 0.2s;
}

.recommended_panel {
    display: flex;
    overflow-x: scroll;
    margin: 0.85rem 0;
    /*justify-content: flex-start;
    align-items: center;
    background-color: #f2f4f8;
    white-space: nowrap;
    height: 80px;
    overflow: hidden;*/
  }

.recommended_panel::-webkit-scrollbar{
    display:none;
}
  
  .recommended_group{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #fff;
    width: 16rem;
    margin-right: 0.5rem;
    /*margin-right: 0.5rem;
    width: 12rem;*/
  }

  .recommended_group_data {
    display: flex;
    flex-direction: column;
    text-align: left;
    opacity: 0.7;
  }
  
  .group_name,.owner_name {
    white-space: nowrap;
    width: 9.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    /*ellipsis gives the 3 dots*/
  }
  
  .group_name {
    font-size: 0.85rem;
    font-weight: 600;
  }
  
  .owner_name{
    font-size: 0.78rem;
    color: #4a4a4a;
  }
  
  .group_image {
    /*color: #e20074;*/
    margin: 0 0.5rem;
    height: 1.9rem;
  }
  
  .plus_icon{
    border: solid 1px #ffffff;
    border-radius: 2rem;
    margin: 0 0.5rem;
    height: 1.7rem;
  }
  
  .plus_icon:hover {
    cursor: pointer;
    border: solid 1px #e20074;
    transition: ease-in-out 0.2s;
  }

  .table_container_parent {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    height: calc(100vh -  18rem)
  }

  .table_top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.8rem 0 0.8rem 0;
  }
  
.title_all_groups{
    color: #ea168b;
    font-weight: bold;
    font-size: 0.9rem;;
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    padding-left: 0.3rem;
}
  
.table_top_right {
    display: flex;
    align-items: center;
    position: relative;
}
  
.bx {
    position: absolute;
    opacity: 0.5;
    padding: 0.4rem;
}

.bx.bx-search{
    font-size: 1.1rem;
}
  
::placeholder {
    color: #4a4a4a;
    opacity: 0.5;
    font-family: Arial, FontAwesome;
    font-size: 0.9rem;
}
  
.search-group {
    background-color: #fff;
    border-radius: 5px;
    height: 2.3rem;
    width: 14rem;
    text-align: left;
    font-size: 0.76rem;
    border: solid 1px #dee3e6;
    margin-right: 0.6rem;
    padding-left: 2rem;
}
  
.search-group:hover {
    border: 1px solid #e20074;
    transition: ease-out 0.2s;
    cursor: pointer;
}
  
.new_group_button {
    text-align: center;
    color: #e20074;
    border-radius: 5px;
    height: 2.3rem;
    width: 7rem;
    font-size: 0.83rem;
    border: solid 1px #e20074;
}

.new_group_button:hover {
    color: white;
    background: #e20074;
    transition: ease 0.2s;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #4a4a4a;
    height: calc(100vh - 26rem);
    table-layout: fixed;
    text-align: left;
    align-items: center;
    vertical-align: baseline;
}

tr{
    font-size: 0.89rem;
    height: 3rem;
    border-bottom: solid 1px #e8e9eb;
}

thead,tbody,tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th{
    font-size: 0.85rem;
    background-color: #f8fafb;
}

tbody .table_group_name{
    color: #e20074;
    text-decoration: underline;
}

.table_header_row{
    border-top: solid 1px #e8e9eb;
    border-bottom: none;
}

.table_body_row{
    border-top: solid 1px #e8e9eb;
    height: 3rem;
}

table td.checkrow, table th.checkrow {
    width: 4%;
    padding-left: 1rem;
}

.checkbox:hover{
    cursor: pointer;
}

table th.table_group_name {
    width: 30%;
    padding-left: 1rem;
}

table td.table_group_name{
    width: 30%;
    padding-left: 0.6rem;
}

tbody{
    table-layout: fixed;
    height: calc(100vh - 30rem);
    overflow-y: scroll;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 2px;
    background: #bebebe;
}
tbody::-webkit-scrollbar-thumb {
    background: #ea168b;
}

/*
table td.table_group_owner, table th.table_group_owner {
}
*/

table td.table_create_date{
    font-family: sans-serif;
}


table td.table_actions, table th.table_actions {
    text-align: center;
    width: 12.5%;
}

.icon_link {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
}
  
.join_button {
    color: #e20074;
    height: 2rem;
    width: 6rem;
    font-size: 0.9rem;
    border-radius: 3px;
    border: solid 1px #ea168b;
    background-color: #fff;
    text-align: center;
}
  
.join_button:hover {
    background: #e20074;
    color: white;
    transition: ease 0.2s;
    cursor: pointer;
}

tr .table_group_name{
    padding-left: 0.8rem;
}

.group_icon{
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
    margin-right: 0.6rem;
}

.person_icon{
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.footer {
    color: #676767;
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
    margin: 0.8rem;
    bottom: 27px;
    float:right;
    letter-spacing: 1px;
}

@media only screen and (min-width : 1824px) {
	html, body{
		font-size: 24px;
	}
    header{
        height: 80px;
    }
    .bell_icon{
        height: 2.7rem;
    }
    .profile{
        height: 2.7rem;
    }
    .cloud_image{
        height: 3rem;
    }
    .recommended_nav_icon_prev, .recommended_nav_icon_next{
        height: 1.5rem;
    }

}

@media only screen and (min-width : 1200px) and (max-width : 1400px){
    html, body{
		font-size: 18px;
	}
    .recommended_nav_icon_prev, .recommended_nav_icon_next{
        height: 1.3rem;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    table th.table_actions,  table td.table_actions{
        width:20%;
    }
    .table_group_owner{
        display: none;
    }
    table th.table_group_name,  table td.table_group_name{
        width:45%;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    aside{
        width:24%;
    }

    .main_content{
        width:76%;
    }
    .table_create_date, .table_group_owner{
        display: none;
    }
    html, body{
		font-size: 14px;
	}
    .bell_icon{
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    aside{
        display: none;
    }
    .main_content{
        width:100%;
    }
    .table_create_date, .table_group_owner{
        display: none;
    }
    html, body{
		font-size: 12px;
	}
    .bell_icon{
        display: none;
    }
    .table_top{
        display: block;
    }
    .title_all_groups{
        padding-bottom: 0.2rem;
    }
    .table_top_right{
        justify-content: space-between;
    }
    .recommended_nav_icon_next,.recommended_nav_icon_prev{
        height: 1.1rem;
    }
}

@media only screen and (max-device-width : 320px) {
    aside{
        display: none;
    }
    .main_content{
        width:100%;
    }
    .table_create_date, .table_group_owner{
        display: none;
    }
    html, body{
		font-size: 12px;
	}
    .bell_icon{
        display: none;
    }
    .table_top{
        display: block;
    }
    .title_all_groups{
        padding-bottom: 0.2rem;
    }
    .table_top_right{
        justify-content: space-between;
    }
    .recommended_nav_icon_next,.recommended_nav_icon_prev{
        height: 1.1rem;
    }
}

